<div class="row">
  <section class="col span-1-of-3">
    <h3>Year High Volume</h3>
    <hr>
    <%= render_unless_empty @years_highest_volume %>
  </section>
  <section class="col span-1-of-3">
    <h3>First 250 Period Closing High</h3>
    <hr>
    <%= render_unless_empty @years_highest_volume %>
  </section>
  <section class="col span-1-of-3"></section>
</div>
