<div class="row">
  <section class="col span-1-of-3">
    <h3>Year High Volume</h3>
    <hr>
    <% @years_highest_volume.each do |elem| %>
      <%= elem %>
    <% end %>
  </section>
  <section class="col span-1-of-3">
    <h3>First 250 Period Closing High</h3>
    <hr>
    <% @years_highest_close.each do |elem| %>
      <%= elem %>
    <% end %>
  </section>
  <section class="col span-1-of-3"></section>
</div>
