<header>
  <nav class='sticky'>
    <div class="row">
      <ul class="main-nav js-main-nav">
      <li><a href="#">About</a></li>
      <li><a href="#">How it works</a></li>
      <li><a href="#">Scans</a></li>
      <li><a href="#">Sign up</a></li>
      </ul>
      <a class="mobile-nav-icon js-nav-icon"><i class="ion-navicon-round"></i></a>
    </div>
  </nav>
  <div class="hero-text-box">
    <h1>TrendWithin. <br> Stock Scanner Utility</h1>
    <a class='btn btn-ghost' href="#">Show me more.</a>
  </div>
</header>
<section class='section-features'>
  <div class="row">
    <div class="col span-1-of-4 box">
      <h3>Lorem Title</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde alias,
        repellat ducimus quia eius optio porro quasi. Repellendus tempora eveniet,
        placeat, minus eum magnam quaerat dolorum amet at quidem nostrum.
      </p>
    </div>
    <div class="col span-1-of-4 box">
      <h3>Lorem Title</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet doloribus
         suscipit voluptatum esse mollitia est ab qui optio ex in atque similique sit,
         ipsum obcaecati id repellat cupiditate. Aut, qui.
      </p>
    </div>
    <div class="col span-1-of-4 box">
      <h3>Lorem Title</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet reprehenderit
         dignissimos ratione sequi esse facere numquam quidem distinctio. Repellendus
         blanditiis, maxime tenetur commodi soluta illo veniam sapiente? Repudiandae,
         dolorum, commodi.
      </p>
    </div>
    <div class="col span-1-of-4 box">
      <h3>
        Lorem Title
      </h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit eos nobis beatae asperiores
        aut recusandae architecto accusantium fugiat repellat adipisci expedita illum officiis,
        delectus deleniti dolore neque tenetur quisquam reiciendis.
      </p>
    </div>
  </div>
</section>

<section class="span-1-of-1">
  <div id="div_42">
  	<div id="div_43">
  		<div id="div_44">
  			<ul id="ul_1">
  				<li id="li_2">
  					<div id="div_3">
              <%= image_tag 'https://placekitten.com/220/150', id: 'a_5' %>
  					</div>
  					<div id="div_6">
  						Title
  					</div>
  					<div id="div_7">
              <p>Lorem Cumque unde atque, doloremque omnis, fugit itaque consectetur quisquam, consequatur culpa vero?</p>
  					</div>
  				</li>
          <li id="li_2">
            <div id="div_3">
              <%= image_tag 'https://placekitten.com/220/150', id: 'a_5' %>
            </div>
            <div id="div_6">
              Title
            </div>
            <div id="div_7">
              <p>Lorem Cumque unde atque, doloremque omnis, fugit itaque consectetur quisquam, consequatur culpa vero?</p>
            </div>
          </li>
          <li id="li_2">
            <div id="div_3">
                <%= image_tag 'https://placekitten.com/220/150', id: 'a_5' %>
            </div>
            <div id="div_6">
              Title
            </div>
            <div id="div_7">
              <p>Lorem Cumque unde atque, doloremque omnis, fugit itaque consectetur quisquam, consequatur culpa vero?</p>
            </div>
          </li>
          <li id="li_2">
            <div id="div_3">
              <%= image_tag 'https://placekitten.com/220/150', id: 'a_5' %>
            </div>
            <div id="div_6">
              Title
            </div>
            <div id="div_7">
              <p>Lorem Cumque unde atque, doloremque omnis, fugit itaque consectetur quisquam, consequatur culpa vero?</p>
            </div>
          </li>
  			</ul>
  		</div>
  	</div>
  </div>
</section>
